div{
    background-color:blanchedalmond

}
h1{
    color:black
}
body1{
    color:black;
}
font{
    font-size: 50px;
}
hello{
    color:brown
    
}
body2{
    color:brown
}
ha{
    color:brown
}
hb{
    color:brown
}
hc{
    color:black
}
hd{
    color:black
}